{$DOMAIN}

# Fetch the request-id or get a new one
request_id x-request-id
header / x-request-id {request_id}

# Make the logs docker friendly and inject the request-id
log / stdout "{request_id} - {common}"
errors stderr

# Configure letsencrypt
tls {$EMAIL}

# Enable CORS for everything for now
header / Access-Control-Allow-Origin *
header / Access-Control-Allow-Credentials true
header / Access-Control-Allow-Methods GET,POST,PUT,DELETE,OPTIONS
header / Access-Control-Allow-Headers location,x-request-id,x-requested-with,application-id
header / Access-Control-Expose-Headers location,x-request-id,x-requested-with,application-id

proxy /auth {$KEYCLOAK_ENDPOINT} {
  transparent
  header_upstream x-request-id {request_id}
}

proxy /xdc {$XDC_ENDPOINT} {
  without /xdc
  transparent
  header_upstream x-request-id {request_id}
}

proxy /data-portability-requests http://data-portability:8080/ {
  transparent
  header_upstream x-request-id {request_id}
}

proxy /data-portability-responses http://data-portability:8080/ {
  transparent
  header_upstream x-request-id {request_id}
}

proxy /data-subjects http://data-portability:8080/ {
  transparent
  header_upstream x-request-id {request_id}
}

proxy / {$KONG_ENDPOINT} {
  transparent
  header_upstream x-request-id {request_id}
}
